$container-max-width: 1494px;
$desktop-width: 1024px;
$tablet-only-width: 1023px;
$tablet-width: 768px;
$mobile-only-width: 767px;
$mobile-width: 320px;
$color-font-primary: #1b2d37;
$color-font-secondary: #788891;
$color-font-tertiary: #666666;
$color-font-logo-header: #203c42;
$color-font-logo-paragraph: #788891;
$color-accent: #00b2ff;
$color-bg-primary: #ffffff;
$color-bg-secondary: #fafafa;
$color-footer-item: #cdcdcd;
$color-footer-line: #626962;
$color-overlay: #000000;
$color-bg-tertiary: #1b2a31;
$color-border-primary: #ebebeb;
$color-button-primary: #c4c4c4;
$color-input: #19baff;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
